*{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
body{
    margin: 0; 
    background-color: #bddce6;
}
.cabeçalho{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.titulo{
    text-align: center;
}
.images{
    text-align: center
}
.images img{
    padding: 6px;
    width: 65px;
    height: auto; 
    }
.container{
    display: flex;
    justify-content: center;
}
.produto{
    height: auto;
    text-align: center;
    background-color:#fafeff;
    border-radius: 10px;
}
#complementar{
    padding-top:12px;
    padding-bottom: 12px;
    font-size: 20px;
}
textarea{
    width: 381px;
    height: 192px;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
}
h1{
  text-transform: uppercase;
  
}
h3{
    margin: 10px;
    font-size: 25px;
}
h4{
    font-size: 22px;
    margin: 7px;
    padding: 7px;
    text-align: center;
   
}

.posicao{
    display: flex;
    justify-content: space-between;
}

form{
    border: 1px solid transparent;
}
label {
    font-family:Georgia;
    font-size:18px;
    text-align: left;
    display: block;
    padding: 12px;
    }
input{
    border: 1px solid #c2c2c2;
    border-radius: 7px;
    align-items: center;
    }
#texto{
    width:500px;
    height:30px;    
    }
#quantidade,
#real{
    width: 145px;
    height: 30px;
    }
button{
    margin-bottom: 7px;
    background-color:#bddce6;
    color: rgb(10, 10, 10);
    border-radius: 10px;
    }
    @media (min-width: 320px) and (max-width:600px){
        .produto{
            padding: 30px;
            text-align: center; 
        }
        #texto{
            width:auto;
            }
        textarea {
            width: 190px;
            height: auto;
            }
        #complementar {
            padding-top: 5px;
            padding-bottom: 12px;
            font-size: 20px; 
            }
        .posicao {
            display: block;
        }
    }
