body{
    margin: 0;
    background-color: rgb(247, 247, 248);
}
    header{
        align-items: center;
    }
    .logo{
        align-items:center;
        text-align:center ;
    }
    .compra{
        margin-top: 3px;
        margin-bottom: 4px;
    }
    #logo2{
        padding-bottom: 5px;
    }
    #logo1,
    #logo2{
        padding-top:10px;
    }
    .titulo{
        text-align: center;
    }

.container{
    display: flex;
    justify-content: center;
    height:675px;
}
.produto{
    height: auto;
    ;
    text-align: center;
}

#complementar{
    padding-top:12px;
    padding-bottom: 12px;
    font-size: 20px;

}
textarea{
    width: 381px;
    height: 192px;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
}
h4{
    font-size: 22px;
    margin: 7px;
    padding: 7px;
    text-align: center;
}
h3{
    margin: 10px;
    font-size: 25px;
}
    .posicao{
        display: flex;
        justify-content: space-between;
    }

    form{
        border: 1px solid #000;
        border-radius: 10px;
    }
    label {
        font-size:20px;
        text-align: left;
        display: block;
        padding: 12px;
    }
    input{
        border: 1px solid #c2c2c2;
        border-radius: 7px;
        align-items: center;
    }
    #texto{
        width:500px;
        height:30px;
        
    }
    #quantidade,
    #real{
        width: 145px;
        height: 30px;
    }
    button{
        margin-bottom: 7px;
    }

    @media (min-width: 320px) and (max-width:600px){
        header {
            height: 130px;
            margin-bottom: 3px;
        }
        .produto{
            padding: 30px;
            text-align: center; 
        }
        #texto{
            width:auto;
        }
        textarea {
            width: 190px;
            height: auto;
        }
        #complementar {
            padding-top: 5px;
            padding-bottom: 12px;
            font-size: 20px; 
        }
        .posicao {
            display: block;
        }
    }
